In [50]:
import pandas as pd
t = pd.read_csv("titanic.csv")

print(t["Age"].sum())
print(t["Age"].max())
print(t["Age"].min())
print(t.describe())
print(t.dtypes)
print("------------------------")

data = ['Kim', 'Park', 'Lee', 'Choi']
ser = pd.Series(data)  # Series는 인덱스값을 같이 저장하는 데이터
print(ser)
print("------------------------")


data2 = {'Name': ['Kim', 'Park', 'Lee', 'Choi'],
         'Age': [20, 23, 21, 26]}
df = pd.DataFrame(data2, index=["학번 1","학번 2","학번 3","학번 4"])
print(df)

21205.17
80.0
0.42
       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200
PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object
------------------------
0     Kim
1    Park
2     Lee
3    Choi
dtype: object
------------------------
      Name  Age
학번 1   Kim   20
학번 2  Park   23
학번 3   Lee   21
학번 4  Choi   26

In [62]:
titanic = pd.read_csv("titanic.csv", index_col=0)
print(titanic)
print("-----------------------")
print(titanic.head()) # default = 5
print("-----------------------")
print(titanic.tail())

             Survived  Pclass  \
PassengerId
1                   0       3
2                   1       1
3                   1       3
4                   1       1
5                   0       3
...               ...     ...
887                 0       2
888                 1       1
889                 0       3
890                 1       1
891                 0       3

                                                          Name     Sex   Age  \
PassengerId
1                                      Braund, Mr. Owen Harris    male  22.0
2            Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0
3                                       Heikkinen, Miss. Laina  female  26.0
4                 Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0
5                                     Allen, Mr. William Henry    male  35.0
...                                                        ...     ...   ...
887                                      Montvila, Rev. Juozas    male  27.0
888                               Graham, Miss. Margaret Edith  female  19.0
889                   Johnston, Miss. Catherine Helen "Carrie"  female   NaN
890                                      Behr, Mr. Karl Howell    male  26.0
891                                        Dooley, Mr. Patrick    male  32.0

             SibSp  Parch            Ticket     Fare Cabin Embarked
PassengerId
1                1      0         A/5 21171   7.2500   NaN        S
2                1      0          PC 17599  71.2833   C85        C
3                0      0  STON/O2. 3101282   7.9250   NaN        S
4                1      0            113803  53.1000  C123        S
5                0      0            373450   8.0500   NaN        S
...            ...    ...               ...      ...   ...      ...
887              0      0            211536  13.0000   NaN        S
888              0      0            112053  30.0000   B42        S
889              1      2        W./C. 6607  23.4500   NaN        S
890              0      0            111369  30.0000  C148        C
891              0      0            370376   7.7500   NaN        Q

[891 rows x 11 columns]
-----------------------
             Survived  Pclass  \
PassengerId
1                   0       3
2                   1       1
3                   1       3
4                   1       1
5                   0       3

                                                          Name     Sex   Age  \
PassengerId
1                                      Braund, Mr. Owen Harris    male  22.0
2            Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0
3                                       Heikkinen, Miss. Laina  female  26.0
4                 Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0
5                                     Allen, Mr. William Henry    male  35.0

             SibSp  Parch            Ticket     Fare Cabin Embarked
PassengerId
1                1      0         A/5 21171   7.2500   NaN        S
2                1      0          PC 17599  71.2833   C85        C
3                0      0  STON/O2. 3101282   7.9250   NaN        S
4                1      0            113803  53.1000  C123        S
5                0      0            373450   8.0500   NaN        S
-----------------------
             Survived  Pclass                                      Name  \
PassengerId
887                 0       2                     Montvila, Rev. Juozas
888                 1       1              Graham, Miss. Margaret Edith
889                 0       3  Johnston, Miss. Catherine Helen "Carrie"
890                 1       1                     Behr, Mr. Karl Howell
891                 0       3                       Dooley, Mr. Patrick

                Sex   Age  SibSp  Parch      Ticket   Fare Cabin Embarked
PassengerId
887            male  27.0      0      0      211536  13.00   NaN        S
888          female  19.0      0      0      112053  30.00   B42        S
889          female   NaN      1      2  W./C. 6607  23.45   NaN        S
890            male  26.0      0      0      111369  30.00  C148        C
891            male  32.0      0      0      370376   7.75   NaN        Q

In [64]:
import numpy as np
#titanic.to_excel("titanic.xlsx") # 엑셀로 저장하기
df = pd.DataFrame(np.random.randint(0,100,size=(5,4)),columns=list('ABCD'))
print(df)

    A   B   C   D
0  41  38  28  68
1  87   0  94  20
2  55  15  84  80
3  96  46  99  42
4  19  89  24  56

In [83]:
countrie = pd.read_csv("countries.csv")
print(countrie)

data = {'code': ['KR', 'US', 'JP', 'CN', 'RU'],
        'country': ['Korea', 'USA', 'Japan', 'China', 'Russia'],
        'area': [9480, 9629091, 377835, 9596960, 17100000],
        'capital': ['Seoul', 'Washington', 'Tokyo', 'Beijing', 'Moscow'],
        'population': [48422644, 310232863, 127288000, 1330044000, 14070200]

        }
df = pd.DataFrame(data)
df.to_csv('countries2.csv')

  code  country      area      capital   population
0   KR    Korea      9480        Seoul     48422644
1   US      USA   9629091   Washington    310232863
2   JP    Japan    377835        Tokyo    127288000
3   CN    China   9596960      Beijing   1330044000
4   RU   Russia  17100000       Moscow    140702000

In [128]:
# below_20 = titanic[titanic["Age"] < 20]
# below_20.head()

# print(titanic[titanic["Pclass"].isin([1,2])]) # isin 함수는 값이 포함된 열만 출력

# print(titanic.loc[titanic["Age"]<20,["Name", "Age"]]) # 20세 미만의 승객 이름만 추출

# print(titanic.iloc[20:23, 4:6])
# 행범위 #열범위
print(t.sort_values(by=["Pclass", "Age"],ascending=False).head()) #ascending=False -> 내림차순 정렬

     PassengerId  Survived  Pclass                       Name     Sex   Age  \
851          852         0       3        Svensson, Mr. Johan    male  74.0
116          117         0       3       Connors, Mr. Patrick    male  70.5
280          281         0       3           Duane, Mr. Frank    male  65.0
483          484         1       3     Turkula, Mrs. (Hedwig)  female  63.0
326          327         0       3  Nysveen, Mr. Johan Hansen    male  61.0

     SibSp  Parch  Ticket    Fare Cabin Embarked
851      0      0  347060  7.7750   NaN        S
116      0      0  370369  7.7500   NaN        Q
280      0      0  336439  7.7500   NaN        Q
483      0      0    4134  9.5875   NaN        S
326      0      0  345364  6.2375   NaN        S